<div class="container">

    <div class="row">

        <div class="col-md-3">

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Filters</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-12" *ngFor="let item of metadata">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><a data-toggle="collapse" href="#catbody">{{item.type}}</a></div>
                                        <div class="panel-body" id="catbody">
                                            <!--<p *ngFor="let cat of metadata.categories">{{cat.name}}</p>\-->

                                            <div class="form-group badge-checkboxes">
                                                <div>
                                                    <label class="checkbox-inline" *ngFor="let cat of item.list">
                                                        <input type="checkbox" value="{{cat.name}}" [(ngModel)]="cat.selected"
                                                        (change)="updateFilterChanges($event)"/>
                                                        <span class="badge">{{cat.name}}</span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- filter component end -->
        </div>




        <div class="col-md-9">

            <div class="row">
                <div class="col-md-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Search by keywords" [(ngModel)]="searchkeywords" (keyup)="doSearch()" />
                            <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" (click)="doSearch()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <!-- Search result -->
                    <div *ngFor="let slide of slides; let i = index">
                        <div class="clearfix" *ngIf="i % 3 == 0"></div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="thumbnail" [ngClass]="{'alert alert-info': isSelected(slide)}">
                                <img class="group list-group-image well well-sm" src="api/v1/file/view/{{slide.file}}" (click)="selectItem(slide)" *ngIf="viewtype !== 'default'" />

                                <a routerLink="/slideshow/{{slide.key}}" routerLinkActive="active" *ngIf="viewtype === 'default'">
                                    <img class="group list-group-image well well-sm" src="api/v1/file/view/{{slide.file}}" />
                                </a>

                                <button type="button" class="btn btn-success btn-s" (click)="createLink(slide)" *ngIf="viewtype === 'default'">
                                    <span class="glyphicon glyphicon-upload"></span> Link 
                                </button>
                                <button type="button" class="btn btn-success btn-s" (click)="viewLink(slide)" *ngIf="viewtype === 'default'">
                                    <span class="glyphicon glyphicon-upload"></span> View 
                                </button>

                            </div>
                        </div>
                    </div>
                    <!-- slide end -->

                </div>
            </div>
            <!-- search component end -->
        </div>


    </div>






</div>