<div *ngIf="parentslide">
    <button type="button" class="btn btn-success btn-s" (click)="highLightMap($event)">
                <span class="glyphicon glyphicon-upload"></span> Highlight Links 
            </button>
    <!--<button type="button" class="btn btn-success btn-s" (click)="addToConversation($event)">
                <span class="glyphicon glyphicon-upload"></span> Add to conversation 
            </button>-->

    <!-- Button trigger modal  data-target="#Modal" -->
    <button type="button" class="btn btn-primary btn-s" data-toggle="modal" (click)="addToConversation()">
  Add to conversation 
</button>
    <h3>{{parentslide.title}}</h3>

    <ol class="breadcrumb">
        <li *ngFor="let slide of slideStack.slides; let last = last" [ngClass]="{ 'active': last }">
            <a routerLink="/slideshow/{{slide.key}};p=-1" *ngIf="!last">{{slide.title}}</a>
            <span *ngIf="last">{{slide.title}}</span>
        </li>
    </ol>

    <img id="myimagemaptest1" class="img-responsive" src="{{getSlideImage(parentslide)}}" alt="Infografik1" usemap="#imagemap1">
    <map id="imagemap1" name="imagemap1" *ngIf="parentslide.map">

      <area  *ngFor="let area of parentslide.map; let i = index" routerLink="/slideshow/{{area.link}};p={{parentslide.key}}" class="areacomp"
            shape="rect"
            coords="{{area.coords.sx}}, {{area.coords.sy}}, {{area.coords.ex}}, {{area.coords.ey}}" />
      <!-- <area alt="" title="" href="JavaScript:alert('Clicked on : Box 2')" shape="rect" coords="594,280,730,390" /> -->

</map>
</div>



<!-- Modal -->
<div class="modal fade" id="addToConvModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{type == 'new' ? 'New Conversation Name' : 'Select existing conversation'}}</label>

                        <div class="input-group" *ngIf="type!='new'">
                            <select name="convselect" class="form-control" [ngModel]="selectedConv" (ngModelChange)="onConvChange($event)">
                                <option [value]="i" *ngFor="let conv of conversations; let i = index">{{conv.name}}</option>
                            </select>
                            <a class="input-group-addon" id="basic-addon2" (click)="makeNewConv()" alt="Create new Conversation" title="Create new conversation"><span style="color:green" class="glyphicon glyphicon-file" aria-hidden="true" ></span></a>
                        </div>

                        <div class="input-group" *ngIf="type=='new'">
                            <input type="text" class="form-control" name="convname" id="exampleInputEmail1" placeholder="Conversation Name" [(ngModel)]="conversation.name">
                            <a class="input-group-addon" id="basic-addon2" (click)="cancelMakeNewConv()"><span style="color:red" class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </div>

                        <p class="help-block">Required. Name of the conversation. Can also edit existing name</p>
                    </div>
                    <div class="form-group">
                        <label for="decinput">Notes</label>
                        <textarea id="decinput" class="form-control" rows="3" name="slidenotes" [(ngModel)]="conversation.currentslide.note"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveConversation()">Save changes</button>
            </div>
        </div>
    </div>
</div>