<p>
    slide-view works!
</p>
<a (click)="highLightMap(e)">Highlight</a>
<div>
    <img id="myimagemaptest1" class="img-responsive" src="api/v1/file/view/{{parentslide.file}}" alt="Infografik1" usemap="#imagemap1">

    <map id="imagemap1" name="imagemap1">

        <area  *ngFor="let area of parentslide.map; let i = index" href="JavaScript:alert('Clicked on : {{area.link}}')" 
              shape="rect"
              coords="{{area.coords.sx}}, {{area.coords.sy}}, {{area.coords.ex}}, {{area.coords.ey}}" />
        <!-- <area alt="" title="" href="JavaScript:alert('Clicked on : Box 2')" shape="rect" coords="594,280,730,390" /> -->

</map>

</div>