<div class="col-sm-10">
    <div class="panel panel-default">
        <div class="panel-heading">Designer</div>
        <div class="panel-body">
            <p>Designer - drag and drop</p>
        </div>
    </div>

</div>
<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-heading">Configuration</div>
        <div class="panel-body">
            <p> Selected component configuration</p>
            <a routerLink="/about" routerLinkActive="active">About</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Components</div>
        <div class="panel-body">
            <p>Component list</p>
        </div>
    </div>

</div>